---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f938e3ce-af40-4b4c-b83b-4dc039cd94f5
      X-Oauth-Scopes:
      - identify,channels:history,im:history,channels:read,im:read,search:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-gt7p
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN69AJ2SU","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN69AJ2SU"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMTG0S5D0","team_id":"TN69AJ2SU","name":"samantha.collares","deleted":false,"color":"674b1b","real_name":"Samantha
        Collares","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Samantha
        Collares","real_name_normalized":"Samantha Collares","display_name":"Samantha
        Collares","display_name_normalized":"Samantha Collares","status_text":"","status_emoji":"","status_expiration":0,"a[...]
- request:
    method: get
    uri: https://slack.com/api/im.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - dc4ccde6-c20e-4e90-8bab-1ea3c5742a36
      X-Oauth-Scopes:
      - identify,channels:history,im:history,channels:read,im:read,search:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - im:read
      X-Via:
      - haproxy-www-d7ix
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"service_unavailable"}'
  recorded_at: Fri, 13 Sep 2019 18:26:54 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=DMUR2JRB5&token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 3a8f1baa-3d9b-4fc2-b0aa-4db7477d0ead
      X-Oauth-Scopes:
      - identify,channels:history,im:history,channels:read,im:read,search:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Via:
      - haproxy-www-g1op
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"default
        settings!","ts":"1568242282.001400","username":"Slackbot","icons":{"emoji":":jack_o_lantern:","image_64":"https:\/\/a.slack-edge.com\/80588\/img\/emoji_2017_12_06\/apple\/1f383.png"},"bot_id":"BMW7Z23K5"},{"type":"message","subtype":"bot_message","text":"who
        am I???","ts":"1568242155.001300","username":"pumpkin","icons":{"emoji":":jack_o_lantern:","image_64":"https:\/\/a.slack-edge.com\/80588\/img\/emoji_2017_12_06\/apple\/1f383.png"},"bot_id":"BMW7Z23K5"},{"type":"message","subtype":"bot_message","text":"who
        am i?","ts":"1568242101.001200","username":"dino","icons":{"emoji":":t-rex:","image_64":"https:\/\/a.slack-edge.com\/80588\/img\/emoji_2017_12_06\/apple\/1f996.png"},"bot_id":"BMW7Z23K5"},{"type":"message","subtype":"bot_message","text":"this
        better be a jack o lantern","ts":"1568241614.001100","user":"USLACKBOT","username":"slackbot","icons":{"emoji":"::jack_o_lantern::"},"bot_id":"BMW7Z23K5"},{"type":"message","subtype":"bot_message","text":"is
        this a trex?","ts":"1568240139.001000","user":"USLACKBOT","username":"slackbot","icons":{"emoji":":t-rex:","image_64":"https:\/\/a.slack-edge.com\/80588\/img\/emoji_2017_12_06\/apple\/1f996.png"},"bot_id":"BMW7Z23K5"},{"type":"message","subtype":"bot_message","text":"test
        default sender","ts":"1568240116.000900","user":"USLACKBOT","us[...]
