---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/test?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - bcc5cf7f-7c68-459d-b97b-669396d22acd
      X-Via:
      - haproxy-www-ntnv
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"test"}'
  recorded_at: Fri, 13 Sep 2019 16:32:33 GMT
recorded_with: VCR 5.0.0
