---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 2cc71178-0105-44c8-9b98-4a7ebeea7aab
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-o27m
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMUR2JTNX","name":"random","is_channel":true,"created":1568071183,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN5R273J8","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTG0S5D0","UMUR43REX","UMZSUVBED","UN5R273J8","UN5R3N6P6","UN5R3NYUU","UN69C37BJ"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN5R273J8","last_set":1568071183},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN5R273J8","last_set":1568071183},"previous_names":[],"num_members":7},{"id":"CN6A88SJZ","name":"turkey","is_channel":true,"created":1568073346,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMUR43REX","name_normalized":"turkey","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMUR43REX","UN5R273J8","UN69C37BJ"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"to
        collect images of turkeys and information about turkeys","creator":"UMUR43REX","last_set":1568073347},"pr[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Req-Id:
      - 15411326-61b9-4fb6-be18-e48d76b5f79e
      X-Via:
      - haproxy-www-ejbj
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Tue, 10 Sep 2019 22:20:27 GMT
recorded_with: VCR 5.0.0
