---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8f6ca9e1-9cd0-4fcb-a089-be56f2647397
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-p70f
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN1416ABB","name":"general","is_channel":true,"created":1568143132,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN7G5G4TF","last_set":1568143132},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN7G5G4TF","last_set":1568143132},"previous_names":[],"num_members":2},{"id":"CN7G5GYGM","name":"slack-api","is_channel":true,"created":1568143132,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"slack-api","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN9N9ECF8","name":"random","is_channel":true,"created":1568143132,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN7G5G4TF","last_set":1568143132},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN7G5G4TF","last_set":1568143132},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 11 Sep 2019 20:52:16 GMT
recorded_with: VCR 5.0.0
