---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Req-Id:
      - 5f291dbf-5181-4a7a-a0aa-5e1e46b8649c
      X-Via:
      - haproxy-www-vui8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Sep 2019 22:20:34 GMT
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 2d902ccd-c9f8-4458-a2ad-ca964ef97a5a
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Via:
      - haproxy-www-udcv
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN70NEJ92","name":"ada-developers-academy","is_channel":true,"created":1568140876,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7EHLGQ5","name_normalized":"ada-developers-academy","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7EHLGQ5","UN9ADP0KZ"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN12DA91P","name":"general","is_channel":true,"created":1568140875,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN7EHLGQ5","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7EHLGQ5","UN9ADP0KZ"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN7EHLGQ5","last_set":1568140875},"purpose":{"value":"This
        channel is for workspace-wide communica[...]
