---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - '0928d1e5-6519-480e-b6d0-46fea3d53922'
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-tr9b
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CJAMGE6R1","name":"random","is_channel":true,"created":1557770905,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UJN5DKL1E","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UJAPUTAF4","UJMLQTTEY","UJN5DKL1E","UJQ873NDD","UJXPV09TL","UJXPV0DR8","UJZ3URHQB","UK10KBHSQ","UK2RV9NKB","UK36V5L9Z","UKA9W2MEE","UKAA488JW","UKAAUGJ11","UKABC0750","UKABQG0CA","UKAL08P5Z","UKBC421P0","UKBC422PQ","UKC0HUSLS","UKC2ASYHG","UKCLVNNPL","UKDV40M6F","UKFBHE133","UKFBMULKB","UKFD9J71P","UKFE28R6V","UKFGG5UQ1","UKFPTDNJV","UKGFRFFCZ","UKHME3FTM","UKM7TAX2Q","UKMB6PP8U","UKMDRV5NG","UKMHX8UKE","UKMNTUH4Y","UKMNU6X9B","UKMRU64DT","UKMTXM5D3","UKMTZABLG","UKMU36EG0","UKMU5VAEL","UKN2G5VFX","UKNLBGKAQ","UKP50A5FF","UKPK1TFHV","UKPLMTE6B","UKPRYFCDU","UKPS4DVUP","UKPU1GQ22","UKPU6UZ38","UKQ08R6UF","UKQ1T39KQ","UKQ2D81L6","UKQ578N3Y","UKQ6SDAK0","UKQBBCJK0","UKRCFJHRC","UKRRBETBJ","UKS39J7EH","UKS5RTFJA","UKSLF7L8L","UKSP3ENB0","UKV05L9UP","UL2DDEE4U","UL2T9CQRW","ULQA393PW","ULUG9L2NA","ULXPQ8C4T","ULXPQ8VBM","ULXPQ9BDH","ULXPQA1S7","ULXPRPF0S","ULXPRQGRG","UM01297MH","UM2RMGFDX","UM5VC5FR8","UM8NWHP3N","UM8NWHX28","UM8NWJHFE","UM8NWJSJ0","UM8NWKE04","UM8NWQPT6","UM9740S64","UM97ADG93","UM97AE5D3","UMB341WK1","UMBBMGR9U","UMBBMHB3Q","UMBBMHKNJ","UMBBMJCUW","UMDAYDQJG","UMERFSZFC","UMERU55UP","UMETXV6R4","UMFRF8X70","UMHK0C17A","UMHQQCENL","UML5D5UMT","UMNB4E3HS","UMNCB7BUL","UMPMS4N4B","UMSMFS5P0"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UJN5DKL1E","last_set":1557770905},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UJN5DKL1E","last_set":1557770905},"previous_names":[],"num_members":102},{"id":"CJC0RHGF5","name":"ada-announcements","is_channel":true,"created":1557860433,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UJN5DKL1E","name_normalized":"ada-announcements","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UJAPUTAF4","UJMLQTTEY","UJN5DKL1E","UJQ873NDD","UJXPV09TL","UJXPV0DR8","UJZ3URHQB","UK10KBHSQ","UK2RV9NKB","UK36V5L9Z","UKA9W2MEE","UKAA488JW","UKAAUGJ11","UKABC0750","UKABQG0CA","UKAL08P5Z","UKB[...]
