---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Req-Id:
      - 5f291dbf-5181-4a7a-a0aa-5e1e46b8649c
      X-Via:
      - haproxy-www-vui8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Sep 2019 22:20:34 GMT
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 2d902ccd-c9f8-4458-a2ad-ca964ef97a5a
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Via:
      - haproxy-www-udcv
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN70NEJ92","name":"ada-developers-academy","is_channel":true,"created":1568140876,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7EHLGQ5","name_normalized":"ada-developers-academy","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7EHLGQ5","UN9ADP0KZ"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN12DA91P","name":"general","is_channel":true,"created":1568140875,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN7EHLGQ5","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7EHLGQ5","UN9ADP0KZ"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN7EHLGQ5","last_set":1568140875},"purpose":{"value":"This
        channel is for workspace-wide communica[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 79d72217-8d8e-4597-854a-a827b8b9f638
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Via:
      - haproxy-www-1zz5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"UN7EHLGQ5","team_id":"TN12D9LHF","name":"farahdavoodi","deleted":false,"color":"9f69e7","real_name":"farah","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"farah","real_name_normalized":"farah","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gd5897757f8e","email":"farahdavoodi@gmail.com","first_name":"farah","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/d5897757f8e8a7677a3786b9ca90ce9d.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0005-512.png","status_text_canonical":"","team":"TN12D9LHF"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1568223956},{"id":"UN9ADP0KZ","team_id":"TN12D9LHF","name":"stephanie.garcia400","deleted":false,"color":"e7392d","real_name":"Stephanie
        Garcia","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Stephanie
        Garcia","real_name_normalized":"Stephanie Garcia","display_name":"Stephanie
        Garcia","display_name_normalized":"Stephanie Garcia","status_text":"","status_emoji":"","status_expiration[...]
