---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 92f8ffa2-2e05-49c9-beca-2c1968ebeba8
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-zrg4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMURJLBUK","name":"random","is_channel":true,"created":1568072573,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN8G3G4VC","last_set":1568072573},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN8G3G4VC","last_set":1568072573},"previous_names":[],"num_members":2},{"id":"CMZT9GCQZ","name":"slack-cli","is_channel":true,"created":1568072574,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN8G3GAR4","name":"general","is_channel":true,"created":1568072573,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN8G3G4VC","last_set":1568072573},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN8G3G4VC","last_set":1568072573},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 10 Sep 2019 23:19:34 GMT
[...]
