---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - b1c516f3-eb2e-492e-b35b-55a991e0a73c
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-2wz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TMURTAYBV","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TMURTAYBV"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMURTAYP5","team_id":"TMURTAYBV","name":"juliabouv","deleted":false,"color":"9f69e7","real_name":"Julia
        Bouvier","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Julia
        Bouvier","real_name_normalized":"Julia Bouvier","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gd5cb54a2a82","first_name":"Julia","last_name":"B[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 4574c2b0-9e17-41b9-8471-43ef67541dcd
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-ntno
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN5RT17J8","name":"random","is_channel":true,"created":1568073362,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UMURTAYP5","last_set":1568073362},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UMURTAYP5","last_set":1568073362},"previous_names":[],"num_members":2},{"id":"CN862L6AK","name":"general","is_channel":true,"created":1568073362,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UMURTAYP5","last_set":1568073362},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UMURTAYP5","last_set":1568073362},"previous_names":[],"num_members":2},{"id":"CN862LB8F","name":"awesome-slack-cli-design-activity","is_channel":true,"created":1568073362,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"awesome-slack-cli-design-activity","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Discussing
        the amazing things that are happening here.","creator":"UMURTAYP5","last_set":1568094901},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Fri, 13 Sep 2019 21:21:45 GMT
recorded_with: VCR 5.0.0
