---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SUPER-SECRET!>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - fd150704-5772-420d-bc7d-052f8c63d303
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Via:
      - haproxy-www-lyqo
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN5R2SQ8L","name":"slack-cli","is_channel":true,"is_group":false,"is_im":false,"created":1568071237,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli","is_shared":false,"parent_conversation":null,"creator":"UN5R2S6GL","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TN5R2S66Q"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"fake
        topic haha","creator":"UN5R2S6GL","last_set":1568157692},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN69B7XMW","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1568071236,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UN5R2S6GL","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TN5R2S66Q"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
     [...]
[...]
