---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8a2a8a28-889c-4c6f-a2f5-a1a9daf3d5e8
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-neww
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN5RT17J8","name":"random","is_channel":true,"created":1568073362,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UMURTAYP5","last_set":1568073362},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UMURTAYP5","last_set":1568073362},"previous_names":[],"num_members":2},{"id":"CN862L6AK","name":"general","is_channel":true,"created":1568073362,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UMURTAYP5","last_set":1568073362},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UMURTAYP5","last_set":1568073362},"previous_names":[],"num_members":2},{"id":"CN862LB8F","name":"awesome-slack-cli-design-activity","is_channel":true,"created":1568073362,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMURTAYP5","name_normalized":"awesome-slack-cli-design-activity","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMURTAYP5","UN863PN23"],"topic":{"value":"Discussing
        the amazing things that are happening here.","creator":"UMURTAYP5","last_set":1568094901},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Fri, 13 Sep 2019 21:21:47 GMT
recorded_with: VCR 5.0.0
