---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 59b42be1-cf11-4c6d-a5d6-ea505f07aee8
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-1ir4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMW2GGWN7","name":"slack-cli","is_channel":true,"created":1568143384,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN9NG04TG","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN9C6R7EK","UN9NG04TG"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Learning
        how to play with APIs","creator":"UN9NG04TG","last_set":1568240342},"previous_names":[],"num_members":2},{"id":"CN7G55J00","name":"general","is_channel":true,"created":1568143383,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN9NG04TG","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN9C6R7EK","UN9NG04TG"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN9NG04TG","last_set":1568143383},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN9NG04TG","last_set":1568143383},"previous_names":[],"num_members":2},{"id":"CN9NG0YUE","name":"random","is_channel":true,"created":1568143383,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN9NG04TG","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN9C6R7EK","UN9NG04TG"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN9NG04TG","last_set":1568143383},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN9NG04TG","last_set":1568143383},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 11 Sep 2019 22:21:18 GMT
recorded_with: VCR 5.0.0
