---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - '009bc20f-e489-425f-8eff-d97ec8e6a357'
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-tzif
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN5R9HVTN","name":"slack-cli","is_channel":true,"created":1568071813,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMTG6LL82","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTG6LL82","UN69R6RK7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN69QV2HK","name":"random","is_channel":true,"created":1568071812,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMTG6LL82","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTG6LL82","UN69R6RK7"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UMTG6LL82","last_set":1568071812},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UMTG6LL82","last_set":1568071812},"previous_names":[],"num_members":2},{"id":"CN85K7D0F","name":"general","is_channel":true,"created":1568071812,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UMTG6LL82","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTG6LL82","UN69R6RK7"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UMTG6LL82","last_set":1568071812},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UMTG6LL82","last_set":1568071812},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 12 Sep 2019 15:12:18 GMT
recorded_with: VCR 5.0.0
