---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//users.profile.set
    body:
      encoding: UTF-8
      string: '{"token":"<SLACK_TOKEN>","profile":{"status_emoji":":rainbow:"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SLACK_TOKEN>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f8c3a690-38c2-4e59-bec0-cdbafeecf8ca
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users.profile:write
      Retry-After:
      - '6'
      X-Via:
      - haproxy-www-6jb6
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"ratelimited","warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}'
  recorded_at: Fri, 13 Sep 2019 21:30:28 GMT
- request:
    method: get
    uri: https://slack.com/api//users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e4f98ea8-446a-4097-a9ca-30568a0f1209
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-7kxn
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN843TM63","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN843TM63"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMTERDBPU","team_id":"TN843TM63","name":"kristina.tanya","deleted":false,"color":"9f69e7","real_name":"Kristina
        M","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Kristina
        M","real_name_normalized":"Kristina M","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g3e9b0330d1c","first_name":"Kristina","last_name":"M"[...]
[...]
