---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//users.profile.set
    body:
      encoding: UTF-8
      string: '{"token":"<SLACK_TOKEN>","profile":{"status_emoji":":rainbow:"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SLACK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - '01198c5b-7fa8-4140-b013-b0aca611c4bc'
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users.profile:write
      X-Via:
      - haproxy-www-2ywg
    body:
      encoding: UTF-8
      string: '{"profile":{"title":"","phone":"","skype":"","real_name":"random_name","real_name_normalized":"random_name","display_name":"Raisah","display_name_normalized":"Raisah","fields":null,"status_text":"","status_emoji":":rainbow:","status_expiration":0,"avatar_hash":"g1166bfab69b","email":"rvesteinsdottir@gmail.com","first_name":"random_name","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/1166bfab69bc4d1c79dcb245ee03288a.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F80588%2Fimg%2Favatars%2Fuser_shapes%2Fava_0026-512.png","status_text_canonical":""},"ok":true,"username":"rvesteinsdottir","warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}'
  recorded_at: Fri, 13 Sep 2019 21:51:02 GMT
- request:
    method: get
    uri: https://slack.com/api//users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - c74329a3-46eb-4b85-9acc-741489e09bc9
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-kftm
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN843TM63","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN843TM63"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMTERDBPU","team_id":"TN843TM63","name":"kristina.tanya","deleted":false,"color":"9f69e7","real_name":"Kristina
        M","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Kristina
        M","real_name_normalized":"Kristina M","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g3e9b0330d1c","first_name":"Kristina","last_name":"M"[...]
- request:
    method: post
    uri: https://slack.com/api//users.profile.set
    body:
      encoding: UTF-8
      string: '{"token":"<SLACK_TOKEN>","profile":{"status_emoji":"cloud"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SLACK_TOKEN>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5a4c26f4-827b-4a91-a6fd-118b939cb238
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users.profile:write
      Retry-After:
      - '6'
      X-Via:
      - haproxy-www-2gtq
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"ratelimited","warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}'
  recorded_at: Fri, 13 Sep 2019 21:51:03 GMT
[...]
