---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=bad%20token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - fe99b7ef-e238-4316-b4d2-586e65ffc14d
      X-Via:
      - haproxy-www-6he5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Fri, 13 Sep 2019 21:30:27 GMT
- request:
    method: get
    uri: https://slack.com/api/users.invalid?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 67295c74-826b-4197-af1a-759ad31824d1
      X-Via:
      - haproxy-www-fyfw
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"users.invalid"}'
  recorded_at: Fri, 13 Sep 2019 21:30:27 GMT
recorded_with: VCR 5.0.0
