---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=bad%20token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 042714f4-556f-4591-b31f-f8fb6f0bf58f
      X-Via:
      - haproxy-www-8emn
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Wed, 11 Sep 2019 21:28:36 GMT
- request:
    method: get
    uri: https://slack.com/api/users.invalid?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - cdb545f1-b98c-4782-99b9-53508d50e003
      X-Via:
      - haproxy-www-j6ch
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"users.invalid"}'
  recorded_at: Wed, 11 Sep 2019 22:02:32 GMT
recorded_with: VCR 5.0.0
