---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=bad%20token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 48db3711-b2d1-496f-8001-677fa5ce128a
      X-Via:
      - haproxy-www-abpg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Fri, 13 Sep 2019 21:51:04 GMT
- request:
    method: get
    uri: https://slack.com/api/users.invalid?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 15d057e5-459c-44e3-a4ac-7438d14fb1a2
      X-Via:
      - haproxy-www-1ir4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"users.invalid"}'
  recorded_at: Fri, 13 Sep 2019 21:51:04 GMT
recorded_with: VCR 5.0.0
