---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 58415489-ed1e-4ed2-ba69-5fa302291b2f
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-pcsw
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TMTKBQZNW","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TMTKBQZNW"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UN8JZT96J","team_id":"TMTKBQZNW","name":"monick.keo","deleted":false,"color":"9f69e7","real_name":"monick.keo","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"monick.keo","real_name_normalized":"monick.keo","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g2c3fdb549fe","image_24":"https:\/\/secure.gravatar.com\/avatar\/[...]
[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 0510f30a-f12a-4fae-9ea6-6b7939f0909e
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-f2n6
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMTKBR8P4","name":"general","is_channel":true,"created":1568082002,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN8JZT96J","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN8JZT96J","UN8LCAGES"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN8JZT96J","last_set":1568082002},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN8JZT96J","last_set":1568082002},"previous_names":[],"num_members":2},{"id":"CN6CW5FBP","name":"random","is_channel":true,"created":1568082002,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8JZT96J","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN8JZT96J","UN8LCAGES"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN8JZT96J","last_set":1568082002},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN8JZT96J","last_set":1568082002},"previous_names":[],"num_members":2},{"id":"CN88Q9RAB","name":"slack-cli","is_channel":true,"created":1568082003,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8JZT96J","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN8JZT96J","UN8LCAGES"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 11 Sep 2019 22:34:47 GMT
[...]
