---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 873c1b9f-7002-4c83-b379-51b93748209a
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Via:
      - haproxy-www-djyg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN69KP124","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1568071958,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"UN69SPE21","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TN69KNQ5N"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN69SPE21","last_set":1568071958},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN69SPE21","last_set":1568071958},"previous_names":[],"num_members":2},{"id":"CN8FWJQJJ","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1568071958,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UN69SPE21","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TN69KNQ5N"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN69SPE21","last_set":1568071958},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN69SPE21","last_set":1568071958},"previous_names":[],"num_members":2},{"id":"CN8FWJZ6J","name":"api-project","is_channel":true,"is_group":false,"is_im":false,"created":1568071958,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"api-project","is_shared":false,"parent_conversation":null,"creator":"UN69SPE21","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TN69KNQ5N"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 12 Sep 2019 22:43:17 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 6090e9a3-a797-4ba8-bfba-f0fb9a7cfbe2
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-7x6t
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN69KNQ5N","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN69KNQ5N"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UN69SPE21","team_id":"TN69KNQ5N","name":"vanessareigosa","deleted":false,"color":"9f69e7","real_name":"v","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"v","real_name_normalized":"v","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gd0d0c84e105","first_name":"v","last_name":"","image_24":"https:\/\/secure.gravatar.com\[...]
