---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 16e086a8-d822-4aea-9073-572dfeabf180
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-0t0n
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN69R3XAL","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN69R3XAL"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMURH3TBM","team_id":"TN69R3XAL","name":"m.dove","deleted":false,"color":"9f69e7","real_name":"Mackie
        Dove","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Mackie
        Dove","real_name_normalized":"Mackie Dove","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"5c5f13b47d78","image_original":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_original.jpg","first_name":"Mackie","last_name":"Dove","image_24":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2019-09-09\/754354966469_5c5f13b47d78f68d62aa_1024.jpg","status_text_canonical":"","team":"TN69R3XAL","is_custom_image":true},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1568141455,"has_2fa":false},{"id":"UN5RH5EP6","team_id":"TN69R3XAL","name":"kelseykripp","deleted":false,"color":"e7392d","real_name":"Kelsey
        Kripp","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Kelsey
        Kripp","real_name_normalized":"Kelsey Kripp","display_name":"Kelsey Kripp","display_name_normalized":"Kelsey
        Kripp","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"f8aa0156bcd0",[...]
