---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5f6ce4b5-fb1c-40b8-8d0a-3d755ff2e1b3
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-j2wg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TMZT9G1J5","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TMZT9G1J5"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UN69SS932","team_id":"TMZT9G1J5","name":"nguyenthao.lee","deleted":false,"color":"e7392d","real_name":"Eve
        Le","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Eve
        Le","real_name_normalized":"Eve Le","display_name":"Eve Le","display_name_normalized":"Eve
        Le","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"ge724ec3bf28","image_24":"https:\/\/secure.gr[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 731f2e64-115a-4a63-871b-25697753564c
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-vfyi
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMURJLBUK","name":"random","is_channel":true,"created":1568072573,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN8G3G4VC","last_set":1568072573},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN8G3G4VC","last_set":1568072573},"previous_names":[],"num_members":2},{"id":"CMZT9GCQZ","name":"slack-cli","is_channel":true,"created":1568072574,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN8G3GAR4","name":"general","is_channel":true,"created":1568072573,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN8G3G4VC","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN69SS932","UN8G3G4VC"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN8G3G4VC","last_set":1568072573},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN8G3G4VC","last_set":1568072573},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 10 Sep 2019 23:19:34 GMT
recorded_with: VCR 5.0.0
