---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8b942435-8c2e-46f1-9cb7-e62892a7ffff
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-33wb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN7G5G3M3","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN7G5G3M3"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UN7G5G4TF","team_id":"TN7G5G3M3","name":"dianah46","deleted":false,"color":"9f69e7","real_name":"Diana
        Han","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Diana
        Han","real_name_normalized":"Diana Han","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb342b6bf000","first_name":"Diana","last_name":"Han","image_24[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ff724f1b-6a80-4da6-8500-efec4bcfe58f
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-e4y4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CN1416ABB","name":"general","is_channel":true,"created":1568143132,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UN7G5G4TF","last_set":1568143132},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UN7G5G4TF","last_set":1568143132},"previous_names":[],"num_members":2},{"id":"CN7G5GYGM","name":"slack-api","is_channel":true,"created":1568143132,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"slack-api","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CN9N9ECF8","name":"random","is_channel":true,"created":1568143132,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN7G5G4TF","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UN7G5G4TF","UN9N9T9LN"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UN7G5G4TF","last_set":1568143132},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UN7G5G4TF","last_set":1568143132},"previous_names":[],"num_members":2}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Fri, 13 Sep 2019 01:45:21 GMT
recorded_with: VCR 5.0.0
