---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api//users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f0fbbae1-1599-491e-aed5-a73b7b47fe3a
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Via:
      - haproxy-www-mar4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TN843TM63","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TN843TM63"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UMTERDBPU","team_id":"TN843TM63","name":"kristina.tanya","deleted":false,"color":"9f69e7","real_name":"Kristina
        M","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Kristina
        M","real_name_normalized":"Kristina M","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g3e9b0330d1c","first_name":"Kristina","last_name":"M"[...]
- request:
    method: get
    uri: https://slack.com/api//channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - c2b5e7db-448d-4cdf-9ea4-bfe02ec4b542
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Via:
      - haproxy-www-n83k
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CMUPUL1R9","name":"pupper-pics","is_channel":true,"created":1568067981,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UMTERDBPU","name_normalized":"pupper-pics","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTERDBPU","UMURAK10T","UMURAL35H","UN69JKYQ0","UN69RK75K","UN85KTCHM"],"topic":{"value":"doggy
        photoshoot","creator":"UN69RK75K","last_set":1568239058},"purpose":{"value":"To
        share darn cute pupper pics!","creator":"UMTERDBPU","last_set":1568081755},"previous_names":[],"num_members":6},{"id":"CMWARHPNF","name":"sploots","is_channel":true,"created":1568159409,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UN69RK75K","name_normalized":"sploots","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UMTERDBPU","UMURAK10T","UMURAL35H","UN69JKYQ0","UN69RK75K","UN85KTCHM"],"topic":{"value":"doggy
        butts and toes","creator":"UN69RK75K","last_set":1568239045},"purpose":{"value":"look
        at cute doggy butts[...]
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>&channel=UN85KTCHM&text=This%20is%20my%20message%20text
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ad5a19c5-3d55-4952-9ff1-f19d198f02ab
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - chat:write:bot
      X-Via:
      - haproxy-www-nxmy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"DN85KTH0F","ts":"1568411464.000800","message":{"type":"message","subtype":"bot_message","text":"This
        is my message text","ts":"1568411464.000800","username":"Leaves - Raisah -
        API Project","bot_id":"BN69VE12R"}}'
  recorded_at: Fri, 13 Sep 2019 21:51:04 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>&channel=UN85KTCHM&text=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 48dcbc89-4086-4b5f-8ad5-bc9d0cc4303d
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot,users.profile:write
      X-Accepted-Oauth-Scopes:
      - chat:write:bot
      X-Via:
      - haproxy-www-90c1
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_text"}'
  recorded_at: Fri, 13 Sep 2019 21:51:04 GMT
recorded_with: VCR 5.0.0
